.gitattributes
.vs/Utilities/CopilotIndices/18.0.955.22606/CodeChunks.db
.vs/Utilities/CopilotIndices/18.0.955.22606/CodeChunks.db-shm
.vs/Utilities/CopilotIndices/18.0.955.22606/CodeChunks.db-wal
.vs/Utilities/CopilotIndices/18.0.955.22606/SemanticSymbols.db
.vs/Utilities/CopilotIndices/18.0.955.22606/SemanticSymbols.db-shm
.vs/Utilities/CopilotIndices/18.0.955.22606/SemanticSymbols.db-wal
.vs/Utilities/FileContentIndex/0168cc72-ee0d-4db4-9dfd-ae0caafa8c53.vsidx
Pdf/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Pdf/obj/Debug/net6.0/Pdf.AssemblyInfo.cs
Pdf/obj/Debug/net6.0/Pdf.AssemblyInfoInputs.cache
Pdf/obj/Debug/net6.0/Pdf.assets.cache
Pdf/obj/Debug/net6.0/Pdf.csproj.AssemblyReference.cache
Pdf/obj/Debug/net6.0/Pdf.GeneratedMSBuildEditorConfig.editorconfig
Pdf/obj/Debug/net6.0/Pdf.GlobalUsings.g.cs
Pdf/obj/Pdf.csproj.nuget.dgspec.json
Pdf/obj/Pdf.csproj.nuget.g.props
Pdf/obj/Pdf.csproj.nuget.g.targets
Pdf/obj/project.assets.json
Pdf/obj/project.nuget.cache
PdfReader/bin/Debug/net10.0/itext.barcodes.dll
PdfReader/bin/Debug/net10.0/itext.bouncy-castle-connector.dll
PdfReader/bin/Debug/net10.0/itext.commons.dll
PdfReader/bin/Debug/net10.0/itext.forms.dll
PdfReader/bin/Debug/net10.0/itext.io.dll
PdfReader/bin/Debug/net10.0/itext.kernel.dll
PdfReader/bin/Debug/net10.0/itext.layout.dll
PdfReader/bin/Debug/net10.0/itext.pdfa.dll
PdfReader/bin/Debug/net10.0/itext.sign.dll
PdfReader/bin/Debug/net10.0/itext.styledxmlparser.dll
PdfReader/bin/Debug/net10.0/itext.svg.dll
PdfReader/bin/Debug/net10.0/Microsoft.DotNet.PlatformAbstractions.dll
PdfReader/bin/Debug/net10.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
PdfReader/bin/Debug/net10.0/Microsoft.Extensions.DependencyInjection.dll
PdfReader/bin/Debug/net10.0/Microsoft.Extensions.DependencyModel.dll
PdfReader/bin/Debug/net10.0/Microsoft.Extensions.Logging.Abstractions.dll
PdfReader/bin/Debug/net10.0/Microsoft.Extensions.Logging.dll
PdfReader/bin/Debug/net10.0/Microsoft.Extensions.Options.dll
PdfReader/bin/Debug/net10.0/Microsoft.Extensions.Primitives.dll
PdfReader/bin/Debug/net10.0/Newtonsoft.Json.dll
PdfReader/bin/Debug/net10.0/PdfReader.deps.json
PdfReader/bin/Debug/net10.0/PdfReader.dll
PdfReader/bin/Debug/net10.0/PdfReader.exe
PdfReader/bin/Debug/net10.0/PdfReader.pdb
PdfReader/bin/Debug/net10.0/PdfReader.runtimeconfig.json
PdfReader/bin/Debug/net10.0/Utils.dll
PdfReader/bin/Debug/net10.0/Utils.pdb
PdfReader/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
PdfReader/obj/Debug/net10.0/apphost.exe
PdfReader/obj/Debug/net10.0/PdfReader.AssemblyInfo.cs
PdfReader/obj/Debug/net10.0/PdfReader.AssemblyInfoInputs.cache
PdfReader/obj/Debug/net10.0/PdfReader.assets.cache
PdfReader/obj/Debug/net10.0/PdfReader.csproj.AssemblyReference.cache
PdfReader/obj/Debug/net10.0/PdfReader.csproj.BuildWithSkipAnalyzers
PdfReader/obj/Debug/net10.0/PdfReader.csproj.CoreCompileInputs.cache
PdfReader/obj/Debug/net10.0/PdfReader.csproj.FileListAbsolute.txt
PdfReader/obj/Debug/net10.0/PdfReader.csproj.Up2Date
PdfReader/obj/Debug/net10.0/PdfReader.dll
PdfReader/obj/Debug/net10.0/PdfReader.GeneratedMSBuildEditorConfig.editorconfig
PdfReader/obj/Debug/net10.0/PdfReader.genruntimeconfig.cache
PdfReader/obj/Debug/net10.0/PdfReader.GlobalUsings.g.cs
PdfReader/obj/Debug/net10.0/PdfReader.pdb
PdfReader/obj/Debug/net10.0/ref/PdfReader.dll
PdfReader/obj/Debug/net10.0/refint/PdfReader.dll
PdfReader/obj/PdfReader.csproj.nuget.dgspec.json
/.vs/UtilitiesPdf
/.vs/ProjectEvaluation
