APP_TITLE=UtilitiesPdf Python
APP_HOST=127.0.0.1
APP_PORT=8000
APP_DEBUG=true
DATABASE_URL=sqlite:///./utilities_pdf.db
# Para usar SQL Server:
# DATABASE_URL=mssql+pyodbc://usuario:senha@servidor:1433/banco?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes
# DATABASE_URL=mssql+pytds://usuario:senha@servidor:1433/banco?validate_host=true&enc_login_only=false&login_timeout=30&timeout=30
# DATABASE_URL=mssql+pypyodbc://usuario:senha@servidor:1433/banco?driver=ODBC+Driver+18+for+SQL+Server&Encrypt=yes&TrustServerCertificate=no
